<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Контакты</title>
    <meta charset="utf-8" />
</head>
<body>
  <div class="container">

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="/getPhoneNumber">Получить телефон по Email</a>
      </li>
    </ul>

    <form>
          <div class="form-group">
            <label for="phone">Введите номер</label>
            <input type="tel" id="phone" name="phone" class="form-control" required>
          </div><br>
          <div class="form-group">
            <label for="email">Введите E-mail:</label>
            <input type="email" id="email" size="30" class="form-control" required>
          </div><br>
            <input type="button" id="btn" onclick="send()" value="Add user" class="btn btn-primary"><br>
      </form>
      <div class="container">
        <div id="output" class="alert"></div>
      </div>
  </div>
            
  <script>
    function send(){
      // объект для отправки
      
        const user = {
            email: document.getElementById('email').value,
            phone: document.getElementById('phone').value
        };
        const json = JSON.stringify(user);
        const request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/addUser");
        request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        request.onreadystatechange = function () {
                if (request.readyState == 4 && request.status == 200)
                    document.getElementById("output").innerHTML=request.responseText;
                    document.getElementById("output").classList.add("alert-success");

        }
        request.send(json);
        document.getElementById('email').value = '';
        document.getElementById('phone').value = '';
    }
  </script>
</body>
<html>